*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(247, 235, 213);
}

.interior{
    background-color: rgb(179, 179, 179);
    width: 545px;
    height: 2000px;
    position: relative;
    top: 50%;
    left: 28%;
    padding: 20px 30px;
}

.interior h1{
	font-size: 30px;
    color: blue;
    text-align:center;
}

.interior h2{
	font-size: 20px;
    color: blue;
    text-align:center;
}

.interior .dise{
	color: rgb(0, 0, 0);
    font-weight: bold;	
}

.hundimiento{
	color: rgb(0, 0, 0);
    font-weight: bold;	
	text-align: center;
}

.hundimiento2{
	text-align: center;
}

.form_text{
    width: 50%;
    border: none;
    border-radius: 5px;
    border-bottom:  2px solid red;
    padding: 5px;
    font-size: 12px;
}

.submit{
	text-align: center;
}

/*Boton imagenes*/
.btn-abrir-popup {
	padding: 10px 10px;
	line-height: 10px;
	border: none;
	color: rgb(0, 0, 0);
	background: #81d89b;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
    text-align: center;
}

.btn_submit{
    top: 92%;
    left: 37%;
    color: rgb(0, 0, 0);
    background-color: #81d89b;
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 10px;
    font-size: 25px;
}

.btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display:flex;
	visibility: hidden;
    z-index: 1;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	width: 600px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}