<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Static/normalize.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="login">
      <br /><label class="form_label2">Ingreso</label>
      <img src="../Static/Images/logo_large.png" class="imagenuno">
      <a href="Administrador.html" class="Administrador">Administrador</a>
      <a href="DatosP.html" class="Encuesta">Encuesta</a>
    </div>
  </body>
</html>
